extends layout

block content
  div.container
    h1#all-movies All Movies
    table#movie-table
      thead
        tr
          th Title
          th Director
          th Year
          th Action
      tbody
        each movie in movies
          tr
            td.movie-title= movie.title
            td.movie-director= movie.director
            td.movie-year= movie.year
            td
              a.button.view-button(href=`/movies/${movie._id}`) View
    a.button.homePage-button(href=`/movies/new`) Add New Movie          
    a.button.homePage-button(href=`/`) Home Page          
