extends layout

block content
  div.container
    h1#new-movie New Movie
    form.new-movie-form(action="/movies" method="POST")
      label(for="title") Title:
      input(type="text" id="title" name="title" required)
      label(for="director") Director:
      input(type="text" id="director" name="director" required)
      label(for="year") Year:
      input(type="text" id="year" name="year" required)
      label(for="notes") Notes:
      textarea(id="notes" name="notes")
      button.button.save-button(type="submit") Save
